.projects-section {
  text-align: start;
  margin-top: 8rem;
}

.projects-area {
  margin-top: 12rem !important;
  column-gap: 2rem;
}

/* projects */

.projects {
  margin: 2rem 0;
  padding: 20px;
  transition: ease-in-out 0.25s;
}

.projects:hover {
  padding: 20px;
  background-color: rgba(30, 41, 59, 0.5);
  border-radius: 7px;
}
.projects .titles h2 {
  font-weight: 400;
  color: #5cdb95;
  display: inline-block;
  transition: ease-in-out 0.25s;
  margin: 0;
}
.projects:hover .titles h2 {
  font-weight: 400;
  color: #0bd1d1;
  display: inline-block;
  transition: ease-in-out 0.25s;
  margin: 0;
}

.projects-area .titles {
  display: flex;
  transition: ease-in-out 0.25s;
}

.projects-area .titles h5 {
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 17px;
  color: #64748b;
  margin: 0;
}

.projects-area .titles h2 {
  display: inline-block;
  font-weight: 400;
  /* padding: 50px 0 0 0; */
  font-size: 1.5rem;
  color: #e2e8f0;
  margin: 0;
}

.projects-area .titles p {
  text-align: start;
  color: #94a3b8;
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 0 0;
  color: #94a3b8;
  line-height: 1.3;
}

.projects .titles button {
  border-radius: 24px;
  border: none;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 18px;
  color: #5cdb95;
  background-color: #253535;
}

.btn-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.projects #icon {
  position: absolute;
  transition: 0.4s;
  top: 5px;
}
.projects:hover #icon {
  position: absolute;
  top: 1px;
}

.projects-section .archive {
  margin-top: 5rem;
  text-align: start;
  font-weight: 450;
  /* padding: 50px 0 0 0; */
  font-size: 1.4rem;
  color: #e2e8f0;
}

.projects-section .navLink {
  position: relative;
}

.projects-section .nav-link {
  position: absolute;
  left: 0;
}
